html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	min-width: 660;
}
body{
	font-size: 24px;
	font-family: "微软雅黑";
	background-color: hsla(0,0%,100%,1.00);
}
.header{
	width: 100%;
	height: 57px;
	line-height: normal;
	position: fixed;
	z-index: 100;
	background-color: hsla(0,0%,80%,0.51);
	padding-top: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	background-attachment: fixed;
	-webkit-box-shadow: 0px 0px 1px;
	box-shadow: 0px 0px 1px;
}
.search{
	float: left;
	opacity: 1;
	margin-left: 24px;
	margin-top: 9px;
}
.search_parent{
	position: relative;
}
.search_input{
	background-color:hsla(0,0%,0%,0.17);
	width: 250px;
	height: 35px;
	border-radius: 15px;
	outline: none;
	border: 1px solid hsla(0,0%,100%,0.56);
	padding-left: 20px;
	position: absolute;
}
.search_btn{
	height: 25px;
	width: 25px;
	position: absolute;
	background: url(../pic/search.png) no-repeat;
	top: 8px;
	left: 235px;
	border: none;
	outline: none;
	cursor: pointer;
}
.nav{
	float: right;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: -16px;
}
.nav ul li{
	float: left;
	text-decoration: none;
	list-style-type:none;
	display: block;
	padding: 8px;
	padding-top: 2px;
	margin-right: 10px;
	background:hsla(0,0%,0%,0.17); 
	border-radius: 8px;
}
.nav ul li a{
	font-size: 20px;
	text-decoration: none;
	color:hsla(0,0%,100%,0.75);
}
.nav ul li a:hover{
	color: aliceblue;
}
.page{
	width: 100%;
	margin: 0;
	height: 1000px;
}
#page1{
	background: url(../pic/blue.jpg) no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
#page2{
		background: url(../pic/blackboard.png) no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
}
#page3{
	background: url(../pic/blackboard.png) no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
}
.flag{
	color: hsla(0,0%,100%,0.9);
	text-align: center;
	clear: both;
}
#flag1{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#flag2{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#meal_map{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#mainimg{
	width: 50%;
	float: left;
}
#namelist{
	float:left;
	width: 50%;
}
.div_line{
	margin-bottom: 30px;
	margin-top: -16px;
	width: 100%;
	display: block;
	height: 1px;
	background: hsla(43,83%,56%,0.71);
	border: none;
}
#usericon{
	background: hsla(0,0%,0%,0.00);
}
#user_icon{
	width: 35px;
	height: 35px;
	margin-top: 1px;
	margin-right: -6px;
	border-radius: 17px;
}

.chart_layout{
	float: left;
	width: 50%;
	text-align: center;
}
.chart_layout .comment{
	margin-top: -25px;
	font-size: 20px;
	color: #868686;
	font-family:"等线";
}
#chart1{
	height: 400px;
	opacity: 1;
}
#chart2{
	height: 400px;
	opacity: 1;
}